body {
    background-color: #fffff7;
}

.country {
    pointer-events: all;
}

.country .label { 
    text-anchor: middle;
}

#wrapper {
    width: 1200px;
    margin: 0 auto;
}

circle.renewable {
    fill: #24a335;
}
circle.oilgascoal {
    fill: none;
    stroke: #505050;
}
circle.hydroelectric {
    fill: none;
    stroke: #e80f0f;
    stroke-dasharray: 3,1;
}

circle.nuclear {
    fill: none;
    stroke: #c72df6;
    stroke-dasharray: 4,2; 
}

.flourish-popup { 
    pointer-events: none;
}

.popup-center {
    opacity: 0;
}

.flourish-popup-content { 
    font-family: sans-serif; 
    font-size: 14px;
    color: #555;
}